button,input{
  border: none;
  outline: none;
}
li{
	list-style: none;
}
.clearfix{
  *zoom: 1;
}
.clearfix:before {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}