$BgCol: #f3f5f7;
$BgSubCol: #fff;
$annotSize: 12px;
$textSize: 14px;
$textCol: #666;//文本字体颜色（深）
$textSubCol: #999;//文本字体颜色（浅）
$artTitSize: 16px;
$navSize: 18px;
$btnSize: 17px;
$borderIn: #e1e1e1;//内框线
$borderOut: #d6d7dc;//外框线

$f4: .125rem;
$f5: .15625rem;
$f10: .3125rem;
$f12: .375rem;
$f14: .4375rem;
$f15: .46875rem;
$f16: .5rem;
$f17: .53125rem;
$f18: .5625rem;
$f20: .625rem;
$f30: .9375rem;
$f40: 1.25rem;
$f50: 1.5625rem;

// 皮肤A变量
$s1Col: #007aff;//主色
$s1SubCol: #334559;//辅助色
$s1StrongCol: #ff9600;//强调色
$s1btnBgCol: #334559;//按钮背景色
$s1btnBgSubCol: #465e7e;//按钮点击背景色

// 皮肤B变量
$s2Col: #31c3b0;
$s2SubCol: #28a191;
$s2StrongCol: #c3314d;
$s2btnBgCol: #28a191;
$s2btnBgSubCol: #22877a;

// 皮肤C变量
$s3Col: #2f354a;
$s3SubCol: #aeb5c4;
$s3StrongCol: #7994ce;
$s3btnBgCol: #7994ce;
$s3btnBgSubCol: #6b82b5;

$skin-data: (skinA, $s1Col, $s1SubCol, $s1StrongCol, $s1btnBgCol, $s1btnBgSubCol),(skinB, $s2Col, $s2SubCol, $s2StrongCol, $s2btnBgCol, $s2btnBgSubCol),(skinC, $s3Col, $s3SubCol, $s3StrongCol, $s3btnBgCol, $s3btnBgSubCol);