$s1Col: #007aff;
$s1SubCol: #334559;
$s1StrongCol: #ff9600;
$s1BgCol: #f3f5f7;
$s1BgSubCol: #fff;
$s1annotSize: 12px;
$s1textSize: 14px;
$s1artTitSize: 16px;
$s1navSize: 18px;
$s1btnSize: 17px;
$s1btnBgCol: #334559;
$s1btnBgSubCol: #465e7e;
$s1borderIn: #e1e1e1;
$s1borderOut: #e1e1e1;

$s2Col: #007a00;